# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# Model files
*.h5

# Uploaded images
static/assets/uploads/*
!static/assets/uploads/.gitkeep
data_pattern/*


# Environment variables
.env